<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Currency Converter</title>
  <meta name="description" content="Currency Converter">
  <meta name="author" content="alexrvs">
  <meta name="tags" content="bootstrap,heroku,sinatra,github">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/css/vendor/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<h4>ВАЛЮТНИЙ КАЛЬКУЛЯТОР ОНЛАЙН</h4>
<script src="js/main.js"></script>



</body>

</html>